---
	import Form from '../layouts/Form.svelte'
	import FormNav from '../components/shared/FormNav.svelte'
	import FormPages from '../components/shared/FormPages.svelte'
	import '@fontsource/ubuntu/300.css';
	import '@fontsource/ubuntu/400.css';
	import '@fontsource/ubuntu/500.css';
	import '@fontsource/ubuntu/700.css';
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1 class="sr-only">Multi-form</h1>

		<Form>
			<FormNav client:idle slot="nav" />
			<FormPages client:idle slot="form" />
		</Form>
	</body>
</html>
